<header>
  <h1 class="header">My Recipes</h1>
  <h3 style="text-align: center;">There are no recipes to list</h3>
</header>

<div class="content">
  <!-- <div>{{listOfNames | json}}</div> -->
  <li *ngFor="let name of listOfNames">
    <b> {{name}} </b>           
  </li>
  <button (click)='showContent()' *ngIf='variable' class="button1">Add Recipe</button>

  <form *ngIf='!variable' (ngSubmit)="onSubmit()" #formcontrol="ngForm" style="padding-top: 10px;">
    <div class="form-group">
      <label for="name">recipe-name</label>
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="nameModel" name="name" id="name"
        #name="ngModel" required>
      <br>
      <br>
      <label for="instructions">recipe-instructions</label>
      <input type="text" class="form-control" placeholder="Instructions" id="instructions" name="instructions" [(ngModel)]="instructions" required>
    </div>
    <br>
    <button type="submit" class="button2" [disabled]="!formcontrol.form.valid || !instructions">Submit</button>
  </form>
</div>

<div>
  <h1 class="doNotRemoveMe">Hello world.</h1>
  <!-- ^ Do not remove this element ^ -->
</div>

